.listbox {
  height: 390px;
  overflow-y: scroll;
  overflow-x: scroll;
  border: 1px solid white;
  border-radius: 5px;
}

.info_button {
  width: 16px;
  height: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  float: left;
  margin-right: 10px;
}

.info_button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.listbox_text {
  flex: 1 1 auto; /* Fill all remaining space between the two buttons */
  overflow: hidden; /* Prevent text from overflowing into button 2 */
  text-overflow: ellipsis;
  white-space: nowrap; /* No line wrapping */
}

.listbox_text_container {
  display: flex; /* Use flexbox */
  flex-wrap: nowrap; /* Prevent wrapping onto new lines */
  align-items: center; /* Vertically center items (optional) */
  width: 100%; /* Or a fixed width if you prefer */
  white-space: nowrap; /* Keep everything on a single line */
}
