.add_button {
  background-color: forestgreen;
  border-radius: 5px;
  border: 0px;
  float: right;
  height: 32px;
  cursor: pointer;
}

.added_button {
  background-color: rgb(20, 220, 67);
  border-radius: 5px;
  border: 0px;
  float: right;
  height: 32px;
  cursor: pointer;
  color: green;
}

.add_button:hover {
  background-color: green;
}

.add_button:active:hover {
  background-color: green;
}

.add_button:focus {
  background-color: green;
  outline: solid 1px white;
}
